@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 12px;
    min-width: 375px;
}

.attribution{
    position: absolute;
    bottom: 10px;
    color: white;
    font-size: 1rem;
    
}

.attribution a{
    color: white;
    text-decoration: none;
}

.attribution a:hover{
    color: black;
    text-decoration: underline;
}

main{
    width: 75%;
    height: 70vh;
    border-radius: 2em;
    display: flex;
    background: url(images/bg-pattern-desktop.svg) hsl(0, 0%, 100%) no-repeat left;
    background-position-x: -45em;
    background-position-y: -22em;
    overflow: hidden;
}

.illustration, section{
    width: 50%;
}

.main-illustration{
    margin-top: 4em;
    position: relative;
}

.illustration-mobile{
    display: none;
}

.illustration img{
    margin-left: -5em;
}

.illustration-box{
    position: absolute;
    margin-top: -20em;
    margin-left: -3em;
}

section{
    display: flex;
    flex-direction: column;
    padding: 4em 0;
}

h1{
    font-size: 2rem;
    margin-bottom: 1em;
}

.question-box{
    padding: 1em;
    width: 85%;
}

.question-item{
    border-bottom: 1px solid hsl(240, 8%, 70%);
    margin: 2em 0;
    overflow: hidden;
    transition: .5s;
    height: 2em;
}

.question{
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    margin-bottom: 1em;
}

.question span{
    font-weight: 700;
    font-size: initial;
    color:hsl(240, 8%, 70%);
}

.question span:hover{
    color: hsl(14, 88%, 65%);
}

.answer{
    font-size: 1rem;
    color: hsl(240, 8%, 70%);
    margin: 1em 0;
}

.question-item-active{
    height: 7em;
}

.question-item-active .question img{
    transform: rotateX(180deg);
}

.question-item-active .question span{
    color: hsl(238, 29%, 16%);
}


@media (max-width: 1023px){
    main{
        flex-direction: column;
        background: white;
        overflow: visible;
        height: 85vh;
        margin-top: 8em;
    }

    .illustration, section{
        width: 100%;
        display: flex;
    }

    section{
    align-items: center;
    }

    .illustration-desktop, .illustration-box{
        display: none;
    }

    .illustration-mobile{
        display: block;
        margin-top: -8em;
        margin-right: -2.5em;
    }

    .main-illustration{
        margin: 0 auto;
    }

    .question-item-active{
        height: 8em;
    }

}

@media (max-width: 500px){
    main{
        height: auto;
    }

    .question-item{
        height: 2.7em;
    }

    .question-item-active{
        height: auto;
    }

    .main-illustration{
        margin: 0 auto;
    }

    .question-box{
        padding: 0
    }
}


